In [1]:
import pandas as pd

In [41]:
data = pd.read_csv("kc_house_data.csv")

In [42]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [43]:
import numpy as np
import matplotlib.pyplot as plt

In [44]:
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler

In [45]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [46]:
data.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       2
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [47]:
data.dropna(inplace=True)

In [48]:
X = data.drop(['price'], axis= 1)

In [49]:
X

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,3,1.00,1180,5650,1.0,0,0,3,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,3,2.25,2570,7242,2.0,0,0,3,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,2,1.00,770,10000,1.0,0,0,3,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,4,3.00,1960,5000,1.0,0,0,5,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,3,2.00,1680,8080,1.0,0,0,3,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,3,2.50,1530,1131,3.0,0,0,3,8,1530.0,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,4,2.50,2310,5813,2.0,0,0,3,8,2310.0,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,2,0.75,1020,1350,2.0,0,0,3,7,1020.0,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,3,2.50,1600,2388,2.0,0,0,3,8,1600.0,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,2,0.75,1020,1076,2.0,0,0,3,7,1020.0,0,2008,0,98144,47.5941,-122.299,1020,1357

In [50]:
y = data.price

In [51]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21611, dtype: float64

In [52]:
X.columns

Index(['id', 'date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [53]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21611 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21611 non-null  int64
 1   date           21611 non-null  object
 2   bedrooms       21611 non-null  int64
 3   bathrooms      21611 non-null  float64
 4   sqft_living    21611 non-null  int64
 5   sqft_lot       21611 non-null  int64
 6   floors         21611 non-null  float64
 7   waterfront     21611 non-null  int64
 8   view           21611 non-null  int64
 9   condition      21611 non-null  int64
 10  grade          21611 non-null  int64
 11  sqft_above     21611 non-null  float64
 12  sqft_basement  21611 non-null  int64
 13  yr_built       21611 non-null  int64
 14  yr_renovated   21611 non-null  int64
 15  zipcode        21611 non-null  int64
 16  lat            21611 non-null  float64
 17  long           21611 non-null  float64
 18  sqft_living15  21611 non-null  int64
 19  sqft_lot15     21611 non-null  int64
dtypes: float64(5), int64(14), object(1)
memory usage: 3.5+ MB

In [54]:
X = X.drop(['id','date'], axis= 1)

In [55]:
X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,0,0,3,8,1530.0,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,4,2.50,2310,5813,2.0,0,0,3,8,2310.0,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,2,0.75,1020,1350,2.0,0,0,3,7,1020.0,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,3,2.50,1600,2388,2.0,0,0,3,8,1600.0,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,2,0.75,1020,1076,2.0,0,0,3,7,1020.0,0,2008,0,98144,47.5941,-122.299,1020,1357

In [56]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21611, dtype: float64

In [59]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.25)

In [60]:
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
20491,4,2.50,3340,6924,2.0,0,0,3,8,3340.0,0,2009,0,98059,47.4950,-122.149,3030,6119
13796,3,1.00,820,5200,1.0,0,0,4,6,820.0,0,1977,0,98042,47.3630,-122.094,1120,5200
9795,3,1.75,1610,14000,1.0,0,0,4,7,1050.0,560,1977,0,98010,47.3429,-122.036,1550,10080
7852,3,2.75,2050,3320,1.5,0,0,4,7,1580.0,470,1927,0,98105,47.6719,-122.301,1760,4150
6636,5,3.50,3490,9680,2.0,0,4,3,9,2460.0,1030,1980,0,98177,47.7757,-122.391,3080,13489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,3,1.00,1250,9775,1.0,0,0,3,7,1250.0,0,1971,0,98045,47.4474,-121.771,1390,9650
14902,5,2.00,2190,9072,1.0,0,0,5,7,1110.0,1080,1965,0,98052,47.6696,-122.149,1660,8327
2955,3,1.00,1080,5250,1.0,0,0,4,7,1080.0,0,1947,0,98133,47.7309,-122.336,1100,5250
19405,3,1.00,1120,8321,1.0,0,0,4,6,1120.0,0,1941,1987,98027,47.5631,-122.091,1980,8671
3656,3,1.75,1330,13102,1.0,0,0,3,7,1330.0,0,1968,0,98003,47.3172,-122.322,1270,11475

In [61]:
X_test

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
8438,5,2.75,2980,8500,1.0,0,0,3,8,1540.0,1440,1982,0,98032,47.3641,-122.278,2310,8500
10509,3,1.75,1440,11787,1.0,0,0,3,8,1440.0,0,1983,0,98074,47.6276,-122.033,2190,11787
19568,6,1.75,2180,4000,1.5,0,0,4,7,1380.0,800,1926,0,98105,47.6643,-122.290,1720,4000
2118,3,3.00,2400,4000,2.0,0,0,3,7,1860.0,540,1905,0,98102,47.6288,-122.321,1750,3940
12998,4,2.50,2280,4602,2.0,0,0,3,8,2280.0,0,2003,0,98075,47.5895,-122.019,2280,4193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6625,3,1.50,1410,9647,1.0,0,0,3,8,1410.0,0,1961,0,98177,47.7608,-122.361,2090,9272
20729,4,3.25,3810,8519,1.0,0,1,3,10,2680.0,1130,2007,0,98033,47.6990,-122.207,3240,10748
4919,5,3.00,2540,11422,1.0,0,0,3,8,1270.0,1270,1962,2014,98006,47.5459,-122.176,2090,10741
6065,4,2.50,2740,12106,1.0,0,0,3,8,1980.0,760,1992,0,98133,47.7648,-122.355,2170,11156
19007,4,3.50,3400,234352,2.0,0,0,3,8,2500.0,900,1991,0,98070,47.4335,-122.449,1300,39639

In [62]:
y_train

20491    576000.0
13796    220000.0
9795     263500.0
7852     613200.0
6636     941500.0
           ...
618      175000.0
14902    600000.0
2955     329500.0
19405    401000.0
3656     225000.0
Name: price, Length: 16208, dtype: float64

In [63]:
y_test

8438      374900.0
10509     495000.0
19568     580000.0
2118      852000.0
12998     565000.0
           ...
6625      367500.0
20729    1130000.0
4919      620000.0
6065      525000.0
19007     475000.0
Name: price, Length: 5403, dtype: float64

In [64]:
scaler = StandardScaler()

In [67]:
scaled_data = scaler.fit_transform(X_train)

In [68]:
scaled_test_data = scaler.transform(X_test)

In [74]:
scaled_test_data[0]

array([ 1.74102674,  0.82335177,  0.98219625, -0.16382423, -0.92088792,
       -0.09026786, -0.31087641, -0.62814829,  0.28953277, -0.30026509,
        2.59125797,  0.36958272, -0.21260908, -0.85727625, -1.41500375,
       -0.45268929,  0.47385966, -0.15696127])

In [69]:
from sklearn.svm import SVR

model = SVR()

model.fit(scaled_data, y_train)

SVR()

In [72]:
pred = model.predict(scaled_test_data)

In [73]:
pred

array([451308.76539486, 450560.64077427, 451311.24714357, ...,
       451478.82902895, 451622.8123174 , 451424.30120542])

In [75]:
model.predict([[ 1.74102674,  0.82335177,  0.98219625, -0.16382423, -0.92088792,
       -0.09026786, -0.31087641, -0.62814829,  0.28953277, -0.30026509,
        2.59125797,  0.36958272, -0.21260908, -0.85727625, -1.41500375,
       -0.45268929,  0.47385966, -0.15696127]])

array([451308.76539495])